/*Inicio*/
.seccion1 {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logobarra{
    width: 50px;
}

.introduccion {
    color: white;
    font-size: 1rem;
    font-weight: 500;
    padding: 30px;
    margin: 80px 80px 00px 80px;
    text-align: justify;
    line-height: 2;
}

#logo2 {
    width:100px;
    float: left;
    margin: 0px 10px 0px 0px;
}

#letra::first-letter{
    font-size: 40px;
}

em strong{
    color:rgb(132, 207, 239);
}

.contenido {
    position: relative;
    max-width: 900px;
    z-index: 100;
    color:rgb(3, 31, 59);   
    text-align: center;
}

.tituloprincipal {
    color: beige;
    font-size: 5rem;
    font-weight: 500;
    transition: 0.5s;
    margin-top:60px;
}

.tituloprincipal:hover {
    text-shadow: 0 0 10px rgb(33, 53, 156), 0 0 20px rgb(33, 53, 156), 0 0 40px rgb(33, 53, 156), 0 0 80px rgb(33, 53, 156);
}

.parrafoinicio {
    background-color: rgba(255,255,255,0.5);
    border: 10px double rgb(235, 220, 220);
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.5rem;
    max-width: 100%;
    padding: 10px;
}

.imagenFondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.6;
}

.btn {
    position: relative;
    display: inline-block;
    margin-top: 30px;
    color: rgb(3, 31, 59);
    background: white;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 10px;
}

.btn:hover {
    color: white;
    background: rgb(3, 31, 59);
}

/*Media Queries*/

@media (max-width: 992px){
   
    /*Seccion1*/
    .contenido {
        z-index: 0;
    }

    .tituloprincipal{
        font-size: 3.5rem;
    }

    .parrafoinicio {
        font-size: 1.1rem;
        border: 6px double rgb(235, 220, 220);
        border-radius: 7px;
    }

    .imagenFondo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0.6;
    }
}

@media (max-width: 576px){

    .tituloprincipal {
        font-size: 2.5rem;     
    }

    .parrafoinicio {
        font-size: 0.75rem;
        border: 4px double rgb(235, 220, 220);
        border-radius: 5px;
        padding: 5px;
    }

    .btn {
        font-size: 0.7rem;
        margin-top: 30px;
        padding: 10px 20px;
    }  
}