* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

section[id] {
    scroll-margin-top: 70px;
}

body {
    background: rgb(1, 1, 33);
}

main {
    position: relative;
}

a {
    text-decoration: none;
    color: white;
}
