.seccion3{
    width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 40px 0;
	display: grid;
	grid-template-columns: 1fr, 1fr 1fr;
	gap: 20px;
}

.seccion3 p {
	color: white;
	text-align: center;
	margin: 0 5px 15px;	
}

.lugarescercanos{
    display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

.item {
    border-radius: 10px;
	min-height: 200px;
	font-weight: bold;
	padding: 20px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center center;
	cursor:pointer;
}

.item:hover{
		background: rgb(15, 10, 46);
		transform: scale(1.0);
		opacity: 0.5;
		transition: 2s;
}

.item .textos{
    height: 100%;
	display: grid;
	grid-template-rows: 1fr, auto;
    color: antiquewhite;
	text-align: center;
	text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 1px black;  
}

h3{
color: black;}

@media (max-width: 992px) {
	
	.lugarescercanos{
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 10px;
	}
	.titulo-seccion3{
		font-size: 16px;
	}
} 

@media (max-width: 576px) {
	.seccion3 p {
		font-size: 14px;	
		max-width: 90%;
		margin: 0 auto;
		padding: 5px;	
	}
	
	.lugarescercanos{
		display: grid;
		grid-template-columns: 1fr;
		gap: 10px;
	}
}